[Unit]
Description=Node-RED rootless Podman container
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/mkdir -p ~/nodered
ExecStartPre=-/usr/bin/podman rm -f nodered

ExecStart=/usr/bin/podman run \
  --name nodered \
  --rm \
  --userns=keep-id \
  --user 1002:1002 \
  --env TZ=Europe/Amsterdam \
  --publish 1880:1880 \
  --volume ~/nodered:/data \
  --device /dev/ttymxc2:/dev/ttymxc2 \
  --device /dev/ttymxc3:/dev/ttymxc3 \
  docker.io/nodered/node-red:latest

ExecStop=/usr/bin/podman stop nodered
ExecStopPost=-/usr/bin/podman rm -f nodered

TimeoutStartSec=120
TimeoutStopSec=30

[Install]
WantedBy=default.target
